<!DOCTYPE html>
<html ng-app="Store">
<head lang="en">
    <meta charset="UTF-8">
    <title>angular-controller-example</title>

    <!-- Vendor -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="page-header"></div>
    <div class="panel panel-default col-md-12" ng-controller="StoreController as store">
        <div class="panel-body col-md-4" ng-repeat="product in store.products">
            <h1>{{product.name}}</h1>

            <div class="thumbnail">
                <img ng-src="{{product.images[0].thumb}}">
            </div>

            <h2>$ {{product.price}}</h2>

            <button class="btn btn-primary" ng-show="product.inStock">Thêm vào giỏ</button>

            <hr>
            <section ng-controller="PanelController as panel">
                <ul class="nav nav-pills">
                    <li ng-class="{active:panel.isSelected('description')}">
                        <a ng-click="panel.setTab('description')" href>Giới thiệu</a>
                    </li>
                    <li ng-class="{active:panel.isSelected('specification')}">
                        <a ng-click="panel.setTab('specification')" href>Cấu hình</a>
                    </li>
                    <li ng-class="{active:panel.isSelected('review')}">
                        <a ng-click="panel.setTab('review')" href>Đánh giá</a>
                    </li>
                </ul>
                <div class="panel" ng-show="panel.isSelected('description')">
                    <h4>Giới thiệu</h4>

                    <p>{{product.description}}</p>
                </div>
                <div class="panel" ng-show="panel.isSelected('specification')">
                    <h4>Cấu hình</h4>

                    <p>None yet</p>
                </div>
                <div class="panel" ng-show="panel.isSelected('review')">
                    <h4>Đánh giá</h4>

                    <p>None yet</p>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Vendor -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

<!-- Application -->
<script src="app.js"></script>
</body>
</html>